.head-container{
    background-color: rgba(23,73,115,255);
}
.lang-select{
    max-width: 80px;
    background-color: rgba(23,73,115,255);
    /* color: rgba(23,73,115,255); */
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
header{
    height: 50px;
    
}
option{
    background-color: rgba(23,73,115,255);
    color: white;
}
span{
    color: white;
}
.login{
    margin-left: 50px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
